body{
    font-family:'Share Tech Mono', monospace;
    font-weight: bold;
    color:#c0b5b5;
    background: url(images/death-star.jpg);
}

#title{

}

#main{
   
}

#game-comments{

}

img{
    height: 100px;
    width: 115px;
    padding-left: 15px;
}

.btn-danger{
    font-weight: bold;
    margin: 10px;
}

.btn-warning{
    font-weight: bold;
}

.token{
    height: 140px;
    width: 130px;
    background-color: antiquewhite;
    justify-content: flex-start;
    display: inline-block;
    margin: 20px;
}

.token-label{
    font-size: 14px;
    color: #313030;
    padding-left: 15px;
}

.label{
    margin: 0;
}
