body{
    font-family:'Share Tech Mono', monospace;
    font-weight: bold;
    color:#c0b5b5;
    background: url(images/death-star.jpg);
}

img{
    height: 100px;
    width: 100px;
}

.btn-danger{
    font-weight: bold;
}

.btn-warning{
    font-weight: bold;
}

.token{
    height: 150px;
    width: 150px;
    background-color: antiquewhite;
}

.token-label{
    font-size: 14px;
    color: #313030;
}